/*  your css code here. If applicable */
body{
	background:#f5f5f5;
}
.main{
	display:flex;
}
.header{
	text-align:center;
	background:#011e29;
	color:white;
	padding:5px;
}
.latest-news-section{
	background:white;
		padding:4px;
	margin:10px;
	width:250px;
	height:200px;
	border-radius:10%;
}
h3{
	text-align:center;
}
p{
	padding:10px;
}
.latest-news-section ul li{
	text-align:center;
}
.main-article{
	background:white;
		padding:4px;
	margin:10px;
	width:300px;
	height:250px;
	border-radius:10%;
	text-align:center;
}
.pictorial-news-section
{
background:white;
padding:4px;
	margin:10px;
	width:300px;
	height:560px;
	border-radius:10%;	
	text-align:center;
}
img{
	width:250px;
	padding:10px;
	
}